#Exclure des fichiers et répertoire lors de la commande COPY
vendor/
./node_modules/
./storage/
./storage/logs/
./storage/logs/laravel.log
./reports/
./documentation/
./tests/
.env
.env.backup
.env.testing
.env.production
.phpunit.result.cache
.phpunit.cache/
auth.json
npm-debug.log
./.git/
/.idea/
/.vscode/
./composer.lock
./package-lock.json
./bootstrap/cache/packages.php
./bootstrap/cache/services.php
.DS_Store
Dockerfile
docker-compose.yml
.dockerignore
./public/
